<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Project BPR">
    <meta name="keywords" content="Pokémon, games, project">
    <meta name="author" content="El Mallaly Rouchdi, Serraji Bilal, Łagoda Patryk">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/js/batterHelper.js" defer></script>
</head>

<body>
    <header class="framed no-hd">
        <input type="checkbox" id="menu-toggle" class="hide" checked>
        <label id="hide-menu-button" for="menu-toggle">&#9776;</label>
        <nav>
            <ul>
                <li><a href="whoisthatpokemon">Quiz</a></li>
                <li><a href="team">Pokéteam</a></li>
                <li>
                    <a href="battler">VechtMatch</a>
                </li>
                <li><a href="vangen">Vang Pokémon</a></li>
                <li><a href="index">Log uit</a></li>
                <% user.userFlattenedPokemon .filter(element=> element.id == user.buddyId)
                    .map(element => { %>
                    <li class="buddy">
                        <a href="/pokemoninfo/<%= user.buddyId %>">
                            <img src="<%= element.spriteFront %>" alt="Selected Pokemon">
                        </a>
                        <% }); %>

                            <p class="center">Buddy</p>
                            </a>
                    </li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="catch" class="framed party no-framed-primary">
            <h2 class="flipped">Je kan met deze Pokémon proberen te vechten!</h2>
            <input type="checkbox" id="catch-toggle" class="hide">
            <label for="catch-toggle">
                <img src="<%= pokemonToFight.spriteFront %>" alt="Pokemon" class="pokemon-image">
            </label>

            <div id="catch-pokemon-details" class="opponent">
                <div id="battle-scene">
                    <div class="pokemon compare-pokemon-container" id="pokemon1">
                        <h3>
                            <%= pokemon.name %>
                        </h3>
                        <img src="<%= pokemon.spriteBack %>" alt="Pokemon 1 Front" id="pokemon1-sprite">
                        <div class="hp-bar-container">
                            <div class="hp-bar" id="pokemon1-hp-bar"></div>
                        </div>
                        <div class="hp-text" id="pokemon1-hp-text">
                        </div>
                    </div>
                    <div class="pokemon compare-pokemon-container" id="pokemon2">

                        <h3>
                            <%= pokemonToFight.name %>
                        </h3>
                        <img src="<%= pokemonToFight.spriteFront %>" alt="Pokemon 2 Back" id="pokemon2-sprite">
                        <div class="hp-bar-container">
                            <div class="hp-bar" id="pokemon2-hp-bar"></div>
                        </div>
                        <div class="hp-text" id="pokemon2-hp-text">
                        </div>
                    </div>
                </div>
                <div id=text-battle>
                    <div id="battle-text-pokemon1"></div>
                    <div id="battle-text-pokemon2"></div>
                </div>
                <div id="battle-text-winner"></div>
                <button id="fight-btn" data-pokemon="<%= JSON.stringify(pokemon) %>"
                    data-pokemon-to-fight="<%= JSON.stringify(pokemonToFight) %>">Fight!</button>
                <div id="battle-reset"></div>

        </section>
    </main>

    <footer>
        <p>&copy; BRP-projectgroep 2023-2024</p>
    </footer>
</body>

</html>